.contacts {
  //display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-align: center;

  a {
    //margin-right: 10px;
    text-decoration: none;
    line-height: 1.5;

    //&:last-child {
    //  margin-right: 0;
    //}
  }
}

@media (max-width: 480px) {

  .contacts {
    font-size: 12px;
  }
}