include ../../components/proshyanfood/proshyanfood
include ../../components/estd/estd

section#history.history
    .container
        .history__one
            +proshyanfood()
        .history__two
            +estd()
        .history__logo
            img(src="./img/svg/03-icon-estd.svg")
        .history__mobile
            .history__mobile_one
                .title
                    h2
                        | Prosh
                        span yanfood&#160;
                .text
                    p Мы являемся собственниками заводов в Армении «Proshyan food».
                    p «Proshyan food» — 100% натуральная армянская продукция. Мы производим консервированные овощи и грибы, салаты, варенья, компоты и многое другое.
                    p Вся продукция делается по старинным армянским рецептам с любовью и заботой о вас.
                    p Больше века мы производим и поставляем нашу продукцию в 30 стран мира (США, Китай, Греция и др.).
            .history__mobile_image
                img(src="./img/03-bg.jpg")
            .history__mobile_two
                .title
                    h2
                        | Es
                        span t 1885&#160;
                .text
                    p Прошянский коньячный завод — современный производственный комплекс. Производственные площади компании занимают территорию в 35 000 м2 и имеют широкий спектр алкогольных напитков: коньяк, вино, водка, игристое вино, ликёр.
                    p На сегодняшний день завод занимает лидирующее место по продажам армянских коньяков и вин на территории Армении.
                    p Результатом сотрудничества с зарубежными партнерами стало резкое увеличение объемов экспорта своей продукции в Россию, Германию, США, Грецию, Израиль, Южную Корею