.merit-item {
  display: flex;
  align-items: center;
  //margin-bottom: 8vh;
  margin-bottom: 45px;

  .icon {
    //width: 45px !important;
    //height: 45px !important;

    img {
      //width: 100%;
      width: 45px !important;
      height: 45px !important;
    }
  }

  .text {
    margin-left: 10px;

    p {
      font-family: "a_FuturaRound", sans-serif;
      font-size: 25px;
      color: #ffffff;
      letter-spacing: 0.015em;
    }
  }
}

@media (max-width: 1321px) {

  .merit-item {

    .icon {

      img {
        width: 36px !important;
        height: 36px !important;
      }
    }

    .text {

      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 991px) {

  .merit-item {
    position: relative;
    margin-bottom: 15px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 13px;
      height: 13px;
      border: 4px solid #ffffff;
      transform: translateY(-50%);
      background-color: transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

    .icon {
      display: none;
    }

    .text {
      margin-left: 30px;

      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 575px) {

  .merit-item {

    .text {

      p {
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
      }
    }
  }
}