button {
  background: #ffb941;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 17px;
  font-family: Tahoma, sans-serif;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  cursor: pointer;

  &:disabled {
    background-color: #d3d3d3;
  }

  &:hover {
    box-shadow: none;
    background: #ffd73e;

    &:disabled {
      background-color: #d3d3d3;
    }
  }

  &:active, &:focus {
    outline: none;
  }
}