mixin proshyanfood()
    .proshyanfood
        .proshyanfood__title
            h2 PROSHYANFOOD
        .proshyanfood__text
            p Мы являемся собственниками заводов в Армении «Proshyan food».
            p Proshyan food» — 100% натуральная армянская продукция. Мы производим консервированные овощи и грибы, салаты, варенья, компоты и многое другое.
            p Вся продукция делается по старинным армянским рецептам с любовью и заботой о вас. Больше века мы производим и поставляем нашу продукцию в 30 стран мира (США, Китай, Греция).