include ../../components/button/button

section#calculator.calculator
    .container
        .calculator__title
            h2 Узнайте сколько вы заработаете
        .calculator__subtitle
            p открыв франшизу Гево&Гиви
        .calculator__sliders
            .calculator__sliders_sales
                .slider
                    input(type="text" name="qty" class="sales-range")
                p Количество продаж в месяц
                div#qty.qty 10 000
            .calculator__sliders_check
                .slider
                    input(type="text" name="check" class="check-range")
                p Средний чек
                div#check.check 350 руб.
            .calculator__sliders_area
                .slider
                    input(type="text" name="area" class="area-range")
                p Площадь магазина
                div#area.area 100 м2
        .calculator__total
            .calculator__total_income
                p Доходы
                div#income.income 7 300 000 руб.
            .calculator__total_cost
                p Расходы
                div#cost.cost 6 399 000 руб.
            .calculator__total_profit
                p Прибыль
                div#profit.profit 900 200 руб.
        .calculator__btn
            +button('calculator_btn', '314px', '65px', 'Получить полный расчет')
        .calculator__ps
            p Узнайте доход для своего магазина, получите подробную финансовую модель бизнеса
        .calculator__leaf
            img(src="./img/08-leaf.png")
        .calculator__tomatos
            img(src="./img/08-tomatoes.png")
    .calculator__seeds-mobile-top
        img(src="./img/08-seeds-top-mobile.png")
    .calculator__seeds-mobile-bottom
        img(src="./img/08-seeds-bottom-mobile.png")