mixin requirements()
    .requirements__items
        ul.requirements-index
            li.requirements-item
                .icon
                    img(src="./img/svg/07-icon-01.svg")
                .title
                    p Площадь
                .subtitle
                    p от 100 м2
            li.requirements-item
                .icon
                    img(src="./img/svg/07-icon-02.svg")
                .title
                    p Высота потолков
                .subtitle
                    p от 3 м
            li.requirements-item
                .icon
                    img(src="./img/svg/07-icon-03.svg")
                .title
                    p Эл. мощность
                .subtitle
                    p от 40 кВт.
            li.requirements-item
                .icon
                    img(src="./img/svg/07-icon-04.svg")
                .title
                    p Проведены инженерные сети
            li.requirements-item
                .icon
                    img(src="./img/svg/07-icon-05.svg")
                .title
                    p Водоснабжение
            li.requirements-item
                .icon
                    img(src="./img/svg/07-icon-06.svg")
                .title
                    p Инсолирование