include ../../components/requirements/requirements

section#building.building
    .container
        .building__title
            h2 Требования к&nbsp;помещению
        .building__content
            +requirements()
        .building__paprika
            img(src="./img/07-paprika.png")
        .building__circle