section#about.about
    .container
        .about__content
            .about__content_overlay
            .about__content_text-block
                .title
                    h2 Наша история
                .text
                    p Гево и Гиви, два парня, армянин и грузин. С детства были друзьями, росли в одном дворе и постоянно соревновались друг с другом.
                    p Так соревнуясь, прошли годы, они повзрослели. И однажды, оба влюбились в одну девушку, её звали Наташа. На этот раз они поссорились всерьез и перестали общаться.
                    p Но когда умер дед Гево, им пришлось встретиться вновь. Так как дедушка Геворг очень любил Гиви, он завещал свой магазин Гево и Гиви при условии, что бизнес они будут вести вместе, мирно и дружно.
                    p Следуя завещанию деда, друзья помирились и взялись за свой магазин. Но стоило им начать заниматься общим бизнесом, как опять появились разногласия. Будет он армянским или грузинским. В конце концов, Гево и Гиви открыли армяно-грузинский или грузино-армянский магазин (спор все ещё продолжается).
                    p Дружба, соревнование и колоритные споры - вот, что вечно между грузинами и армянами.
        .about__paprika-top
            img(src="./img/02-paprika-top.png")
        .about__paprika-bottom
            img(src="./img/02-paprika-bottom.png")
        .about__content-mobile
            .about__content-mobile_image
                img(src="./img/02-img-mobile.jpg")
            .about__content-mobile_title
                h2
                    | Наша
                    span &#160;история&#160;
            .about__content-mobile_text
                p Гево и Гиви, два парня, армянин и грузин. С детства были друзьями, росли в одном дворе и постоянно соревновались друг с другом.
                p Так соревнуясь, прошли годы, они повзрослели.
                p И однажды, оба влюбились в одну девушку, её звали Наташа. На этот раз они поссорились всерьез и перестали общаться.
                p Но когда умер дед Гево, им пришлось встретиться вновь. Так как дедушка Геворг очень любил Гиви, он завещал свой магазин Гево и Гиви при условии, что бизнес они будут вести вместе, мирно и дружно.
                p Следуя завещанию деда, друзья помирились и взялись за свой магазин. Но стоило им начать заниматься общим бизнесом, как опять появились разногласия. Будет он армянским или грузинским.
                p В конце концов, Гево и Гиви открыли армяно-грузинский или грузино-армянский магазин (спор все ещё продолжается).
                p Дружба, соревнование и колоритные споры - вот, что вечно между грузинами и армянами.