section#thankyou.thankyou
    .container
        .thankyou__logo
            img(src="./img/svg/logo.svg")
        .thankyou__offer
            .thankyou__offer_title
                h1
                    | Спасибо за интерес, проявленный к нашей компании.
                    br
                    | Мы свяжемся с Вами в ближайшее время
            .thankyou__offer_link
                a(href="index.html") Назад
