.policy-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 30; /* Sit on top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1170px;
    border: none;
    padding: 60px 50px;
    transform: translate(-50%, -50%);
    background: #f5faf5;
    border-radius: 9px;

    &_header {

      .policy-modal-close {
        position: absolute;
        top: 5px;
        right: 15px;
        color: #000000;
        float: right;
        font-size: 48px;
        font-weight: bold;
        cursor: pointer;

        &:hover, &:focus {
          text-decoration: none;
        }
      }

      h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 28px;
        letter-spacing: 0.06em;
        color: #000000;
      }
    }

    &_body {

      p {
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.06em;
        color: #000000;
        margin-top: 35px;
      }
    }
  }
}

@media (max-width: 1322px) {

  .policy-modal {

    &__content {
      width: 1170px;
      padding: 60px 50px;

      &_header {

        h2 {
          font-size: 24px;
        }
      }

      &_body {

        p {
          font-size: 18px;
          margin-top: 35px;
        }
      }
    }
  }
}

@media (max-width: 1321px) {

  .policy-modal {

    &__content {
      width: calc(100% - 120px);
      padding: 30px;

      &_header {

        h2 {
          font-size: 24px;
        }
      }

      &_body {

        p {
          font-size: 18px;
          margin-top: 35px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {

  .policy-modal {

    &__content {

      &_header {

        h2 {
          font-size: 22px;
        }
      }

      &_body {

        p {
          font-size: 16px;
          margin-top: 30px;
        }
      }
    }
  }
}

@media (max-width: 991px) {

  .policy-modal {

    &__content {

      &_header {

        h2 {
          font-size: 22px;
        }
      }

      &_body {

        p {
          font-size: 16px;
          margin-top: 30px;
          line-height: 1;
        }
      }
    }
  }
}

@media (max-width: 767px) {

  .policy-modal {

    &__content {

      &_header {

        h2 {
          font-size: 18px;
        }
      }

      &_body {

        p {
          font-size: 14px;
          margin-top: 30px;
          line-height: 1;
        }
      }
    }
  }
}

@media (max-width: 575px) {

  .policy-modal {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), #8fc742;
    position: fixed;

    &__content {
      top: 0;
      left: 0;
      width: calc(100% - 40px);
      padding: 50px 20px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background-color: transparent;
      transform: translate(0, 0);

      &_header {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 50%;
          width: 100%;
          height: 2px;
          transform: translateX(-50%);
          background-color: #ffffff;
        }

        .policy-modal-close {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -30px;
          right: 0;
          width: 25px;
          height: 25px;
          border: 0.5px solid #ffffff;
          background: rgba(255, 255, 255, 0.05);
          color: #ffffff;
          font-size: 48px;
          font-weight: bold;
          cursor: pointer;

          &:hover, &:focus {
            text-decoration: none;
          }
        }

        h2 {
          font-family: "a_FuturaRound", sans-serif;
          font-size: 30px;
          line-height: 115.9%;
          color: #fefefe;
        }
      }

      &_body {

        p {
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.06em;
          color: #ffffff;
          margin-top: 35px;
        }
      }
    }
  }
}