section#interior.interior
    .interior__title
        h2 Интерьер магазина
    .container
        .interior__content
            .interior__photo
                .interior__photo_block-one
                    .row-one
                        .img-1
                    .row-two
                        .img-1
                        .img-2
                .interior__photo_block-two
                    .row-one
                        .img-1
            .interior__ps
                p
                    | ДЛЯ НАШИХ ФРАНЧАЙЗИ МЫ СОВЕРШЕННО БЕСПЛАТНО РАЗРАБАТЫВАЕМ ПОЛНУЮ
                    br
                    | ВИЗУАЛИЗАЦИЮ, ДИЗАЙН-ПРОЕКТ И АРХИТЕКТУРНЫЙ ПЛАН ПОМЕЩЕНИЯ
            .interior__circle
        .interior__content-mobile
            .interior__photo-mobile
                .interior__photo-mobile_block-one
                    .img-1
                        img(src="./img/06-img-01.jpg")
                .interior__photo-mobile_block-two
                    .col-one.col
                        .img-1
                            img(src="./img/06-img-02.jpg")
                        .img-2
                            img(src="./img/06-img-03.jpg")
                    .col-two.col
                        .img-1
                            img(src="./img/06-img-04.jpg")
            .interior__circle-mobile-one
            .interior__circle-mobile-two