include ../../components/plans-item/plans-item

section#plans.plans
    .container
        .plans__title
            h2 План открытия вашего магазина
        .plans__items
            +plans-item('Подписание договора', '01', '1 неделя', 'left')
            +plans-item('Поиск помещения', '02', '2 неделя', 'right')
            +plans-item('Составление дизайн-проекта', '03', '2 неделя', 'left')
            +plans-item('Оборудование и поставщики', '04', '3 неделя', 'right')
            +plans-item('Обучение по нашей программе', '05', '3 неделя', 'left')
            +plans-item('Поиск персонала', '06', '4 неделя', 'right')
            +plans-item('Открытие магазина', '07', '4 неделя', 'left')