mixin estd()
    .estd
        .estd__title
            h2 EST 1885
        .estd__text
            p Прошянский коньячный завод — современный производственный комплекс. Площади компании занимают территорию в 35 000 м2 и имеют широкий спектр алкогольных напитков: коньяк, вино, водка, игристое вино, ликёр.
            p На сегодняшний день завод занимает лидирующее место по продажам армянских коньяков и вин на территории Армении. Результатом сотрудничества с зарубежными партнерами стало резкое увеличение объемов экспорта своей продукции в Россию, Германию, США, Грецию, Израиль, Южную Корею.