.popup-form {
  width: 100%;

  &__title {
    text-align: center;

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      letter-spacing: 0.06em;
    }
  }

  &__form {
    text-align: center;
    margin-top: -15px;

    .input-field {

      input {
        border: 1px solid #000000;
      }
    }

    button {
      margin-top: 45px;
    }
  }
}