include ../input/input
include ../button/button

mixin popup-form(title, ...inputs)
    .popup-form
        .popup-form__title
            p #{title}
        .popup-form__form
            form(id="popup_form" action="email.php" method="POST")
                each input in inputs
                    +input(input.id, input.name, input.type, input.placeholder)
                +button('popup_btn', '280px', '60px', 'Оставить заявку')