include ../input/input
include ../checkbox/checkbox
include ../pop-up-form/pop-up-form

mixin pop-up(title, subtitle)
    div#modal.modal
        .modal__content
            .modal__content_header
                span.modal-close &times;
                h2 #{title}
                p #{subtitle}
            .modal__content_header-mobile
                span.modal-close-mobile &times;
                h2 Форма заявки
                p На получение подробного предложения по франшизе
            .modal__content_body
                +popup-form('Мы свяжемся с вами в ближайшее время', {id: 'name', name: 'name', type: 'text', placeholder: 'Имя'}, {id: 'phone', name: 'tel', type: 'tel', placeholder: 'Ваш телефон'}, {id: 'email', name: 'email', type: 'email', placeholder: 'Email'})
            .modal__content_body-mobile
                +popup-form('', {id: 'name', name: 'name', type: 'text', placeholder: 'Имя'}, {id: 'phone', name: 'tel', type: 'tel', placeholder: 'Ваш телефон'}, {id: 'email', name: 'email', type: 'email', placeholder: 'Email'})
            .modal__content_footer
                +checkbox('policy-check', 'true')