.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 557px;
    border: none;
    padding: 0;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 9px;

    &_header {
      position: relative;
      padding: 7.5vh 50px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/popup-header-bg.jpg") no-repeat center top / 100% auto;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;

      h2 {
        font-family: "a_FuturaRound", sans-serif;
        font-size: 40px;
        color: #ffffff;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
      }

      .modal-close {
        position: absolute;
        top: 10px;
        right: 20px;
        color: #ffffff;
        float: right;
        font-size: 48px;
        font-weight: bold;
        cursor: pointer;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }

    &_header-mobile {
      display: none;
      text-align: center;
      padding: 30px 0 0;

      h2 {
        font-family: "a_FuturaRound", sans-serif;
        font-size: 30px;
        color: #373737;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #454545;
        margin-top: 30px;
      }

      .modal-close-mobile {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -30px;
        right: 5px;
        width: 25px;
        height: 25px;
        border: 0.5px solid #ffffff;
        background: rgba(255, 255, 255, 0.05);
        color: #ffffff;
        float: right;
        font-size: 48px;
        font-weight: bold;
        cursor: pointer;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }

    &_body {
      padding: 3vh 100px 0;
      text-align: center;
    }

    &_body-mobile {
      display: none;
    }

    &_footer {
      padding: 3vh 150px;
      background-color: #ffffff;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }
}

@media (max-width: 1440px) {

  .modal {

    &__content {

      &_header {
        padding: 2.5vh 50px;
      }

      &_body {
        padding: 15px 90px 0;

        .popup-form {

          &__form {
            margin-top: 0;

            .input-field {
              margin-top: 2.5vh !important;
            }

            button {
              margin-top: 30px;
            }
          }
        }
      }

      &_footer {
        padding: 20px 75px;
      }
    }
  }
}

@media (max-width: 1322px) {

  .modal {

    &__content {
      width: 470px;

      &_header {
        padding: 25px 50px;

        h2 {
          font-size: 36px;
        }

        p {
          font-size: 18px;
        }
      }

      &_body {
        padding: 15px 75px 0;

        .popup-form {

          &__form {
            margin-top: 0;

            .input-field {
              margin-top: 25px;
            }

            button {
              margin-top: 30px;
            }
          }
        }
      }

      &_footer {
        padding: 20px 75px;
      }
    }
  }
}

@media (max-width: 575px) {

  .modal {

    &__content {
      width: calc(100% - 60px);

      &_header {
        display: none;
      }

      &_header-mobile {
        display: block;
      }

      &_body {
        display: none;
      }

      &_body-mobile {
        display: block;
        padding: 15px 15px 0;

        .popup-form {

          &__form {
            margin-top: 0;

            .input-field {
              margin-top: 25px;
            }

            button {
              margin-top: 30px;
              width: 254px !important;
              height: 49px !important;
            }
          }
        }
      }

      &_footer {
        padding: 30px 15px;
      }
    }
  }
}

@media (max-width: 360px) {

  .modal {

    &__content {

      &_header-mobile {

        h2 {
          font-size: 18px;
        }

        p {
          font-size: 14px;
          margin-top: 15px;
        }
      }

      &_body-mobile {
        padding: 0 15px 0;

        .popup-form {

          &__form {

            .input-field {
              margin-top: 15px;
            }

            button {
              margin-top: 15px;
              width: 100% !important;
            }
          }
        }
      }

      &_footer {
        padding: 15px;
      }
    }
  }
}