.footer {
  background: url("../img/footer-bg.png") no-repeat center top / cover;
  padding: 48px 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 65px;

    .contacts {
      justify-content: flex-start;
    }

    .socials {
      display: flex;
      justify-content: center;
    }

    .credits {
      justify-content: flex-end;
    }
  }
}

//@media (max-width: 1321px) {
//
//  .footer {
//
//    &__content {
//      flex-direction: column;
//
//      .socials {
//        margin: 30px 0 0 0;
//      }
//
//      .credits {
//        margin: 0 auto;
//      }
//    }
//  }
//}

@media (max-width: 1199px) {

  .footer {

    &__content {
      padding: 0;
    }
  }
}

@media (max-width: 991px) {

  .footer {
    background: #ffffff;
    padding: 0 0 30px;

    &__content {
      padding: 0;
      flex-direction: column;

      .contacts {
        order: 2;
        margin-top: 20px;
      }

      .socials {
        order: 1;
        margin-top: -40px;
      }

      .credits {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {

  .footer {

    &__content {

      .contacts {
        margin-top: 10px;
      }

      .socials {
        margin-top: -30px;
      }
    }
  }
}

@media (max-width: 375px) {

  .footer {

    &__content {

      .contacts {
        margin-top: 10px;
      }

      .socials {
        margin-top: -10px;
      }
    }
  }
}