include ../../components/footer-contacts/footer-contacts
include ../../components/footer-socials/footer-socials
include ../../components/footer-credits/footer-credits

footer#footer.footer
    .container
        .footer__content
            .contacts
                +contacts('8 (929) 688-41-23', '|', 'info@gevogivi.ru')
            .socials
                +social-icon('./img/svg/footer-icon-env.svg', 'mailto:info@gevogivi.ru', 'Написать нам', 'margin-right: 20px')
                +social-icon('./img/svg/footer-icon-fb.svg', 'https://www.facebook.com/gevogivi/', 'Мы в Facebook', 'margin-right: 20px;')
                +social-icon('./img/svg/footer-icon-inst.svg', 'https://www.instagram.com/gevogivi/', 'Мы в Instagram', 'margin-right: 20px;')
                +social-icon('./img/svg/footer-icon-vk.svg', 'https://vk.com/gevogivi', 'Мы в ВКонтакте')
            .credits
                +credits()