.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 65px 8vh;

  &__contacts {
    text-align: center;

    a {
      font-family: "a_FuturaRound", sans-serif;
      font-size: 19px;
      color: #ffffff;
      text-decoration: none;
      letter-spacing: 0.05em;

      &:hover {
        color: #ffb941;
      }
    }

    p {
      margin: 0;
      font-family: "Tahoma", sans-serif;
      font-size: 17px;
      color: #ffffff;
      letter-spacing: 0.05em;
    }
  }
}

@media (max-width: 1199px) {

  .topbar {
    padding: 0 15px 6vh;
  }
}

@media (max-width: 575px) {

  .topbar {

    &__contacts {

      a {
        font-size: 17px;
      }

      p {
        font-size: 15px;
      }
    }
  }
}